@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(formulario: play.data.Form[Produto])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@

@import b3.vertical.fieldConstructor

@main("Welcome to Play") {
    @b3.form(routes.ProdutoController.salvaNovoProduto()) {
        <h1>Cadastro de Produto</h1>
        @b3.text(formulario("titulo"), '_label -> "Título")
        @b3.text(formulario("codigo"), '_label -> "Código")
        @b3.text(formulario("tipo"), '_label -> "Tipo")
        @b3.textarea(formulario("descricao"))
        @b3.number(formulario("preco"), '_label -> "Preço")
        @b3.submit('class -> "btn btn-primary") { Cadastrar }
    }
}
